.Blog{
    color: black;
}


  
  .card {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn-success {
    background-color: #00c58e;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .btn-success:hover {
    background-color: #00a76b;
  }
  