*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav__head{
    display: flex;
    justify-content: space-between;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}

.nav__list{
    display: flex;
    align-items: center;

}
.nav__item{
    color: white;
    margin-left: 20px;
    list-style-type: none;
    cursor: pointer;
    a{
        color: white;
        text-decoration: none;
    }
}
.cta-buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.nav__item{
    margin-right: 45px;
}
.signup__link {
    width: 130px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
    background: rgba(255, 255, 255, 0.3);

    a {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 500;
        line-height: 33px;
        font-family: 'Poppins', sans-serif;
    }
}
.login__link {
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 80px;
    box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
    background: conic-gradient(from 180deg at 50% 50%, rgb(255, 255, 255), rgb(255, 255, 255));
    margin-right: 20px;

    a {
        color: rgb(91, 91, 91);
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 2%;
        text-align: left;
        font-family: 'Poppins', sans-serif;

    }
}
.login__link__div{
    display: flex;
}







